{% extends "assets_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}


<ul class="breadcrumb">
  <li><a href="{% url 'index' %}">Home</a></li>
  <li><a href="{% url 'dashboard' %}">Assets</a></li>
  <li class="active">Signout</li>
</ul>


{% block body-content %}

<form action="{% url model_url %}" method="POST">
  {% csrf_token %}

  {% if model_url == 'checkout-sig' %}
    <div class="panel panel-default">
      <div class="panel-heading"><h3>Asset Check Out</h3></div>
        <div class="panel-body">
                  {{ sform|crispy }}
        </div>
      </div>

    <div class="panel panel-default">
      <div class="panel-heading"><h3>Staff Signature</h3></div>
        <div class="panel-body">
                  {{ sform2|crispy }}
        </div>
      </div>


    <div class="panel panel-default">
      <div class="panel-heading"><h3>Approved Signature</h3></div>
        <div class="panel-body">
                  {{ ssform|crispy }}
        </div>
      </div>

  {% endif %}
     <input id="save_sigform" type="submit" value="Add"/>
</form>

{% endblock %}